.button {
  padding: 0.75em 1em;

  font-size: 1em;
  color: var(--darkgreen);

  background: var(--lightgreen);
  border: 0;

  &:hover,
  &:focus {
    color: var(--lightgreen);
    background: var(--darkgreen);
  }
}
